body {
  background-color: #ffffff;
  background-image: url("http://img.archiexpo.com/images_ae/photo-g/3852-4680093.jpg");
  font-family: Impact, Charcoal, sans-serif;
}

div {
  height: auto;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
  height: auto;
}  
#mysidenav {
  background-color: #DCDCDC;
}
#main {
  background-color: #DCDCDC;
}
#education {
  background-color: #DCDCDC;
}
#work {
  background-color: #DCDCDC;
}
#volunteer {
  background-color: #DCDCDC;
}
#hobbies {
  background-color: #DCDCDC;
}
#other {
  background-color: #DCDCDC;
}
#learning {
  background-color: #DCDCDC;
}
#info {
  background-color: #DCDCDC;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

